.button {
    -fx-font-size: 16px;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-color: #000000;
    -fx-border-width: 0.1;
    -fx-background-color:
    	linear-gradient(#eeeeee 0%, #cccccc 100%);
    -fx-text-alignment: center;
}

.button:pressed {
    -fx-background-color:
    	linear-gradient(#cccccc 0%, #eeeeee 100%);
}

.label {
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-border-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-color: #eeeeee;
    -fx-border-width: 0.1;
}

.button:disabled {
    -fx-background-color: #fff;
}

.root {
    -fx-background-image: url("https://cloud4.azurewebsites.net/bg-sbr-java.jpg");
    -fx-background-size: cover;
}
